<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | Portal </title>
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Assets/css/StyleFooter.css" rel="stylesheet" />
    <link href="~/Assets/css/StylePersonalizados.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div id="header" class="jumbotron">
        <img style="padding-top:15px;" src="~/Images/Logos/LogoPrincipal.png" />
        <ul class="nav navbar-nav float-right">
            <li class="row text-center" style="margin-top:15px;">
                <a class="col"><i class="fa fa-user" style="font-size:40px"></i></a>
                <div class="w-100"></div>
                <a class="col"><span>Juan Carlos Ramirez</span></a>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-expand-lg" style="background-color:black;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item activeMenu">
                    <a class="nav-link" href="~/Clientes/index/">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Otro menu</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="buscar" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
    <div class="container" style="margin-top:15px; margin-bottom:45px;width:95%;">
        @RenderBody()
    </div>
    <div id="footer">
        <h4>Portal Demo</h4>
    </div>

    <script src="~/Assets/js/bootstrap.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
</body>
</html>